.Calculator-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-buttons{
    padding-top: 10px;
}
.input{
    padding: 25px;
    margin: 5px;
}
.symbol{
    padding: 10px;
    margin: 2px;

}